.about__container {
  margin: 0 auto;
  min-width: 750px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;

  p {
    margin: 0;
    margin-bottom: 35px;
    color: $grey-font;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    font-family: $font-roboto;
    width: 180px;
    height: 45px;
    padding: 12px 50px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 5px;
  }

  h3 {
    margin: 0;
    margin-bottom: 25px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $grey-font;
  }
}

.about__img {
  min-width: 174px;
  height: 317px;
  background-image: url("../img/2005-desktop@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/2005-desktop@2x.png") 220px, 317px;
  }
}

@media (min-width: $desktop-width-min) {
  .about__container {
    max-width: 1220px;
    width: 100%;
    padding: 0 25px;
    margin-bottom: 110px;

    p {
      max-width: 984px;
      width: 100%;
      margin-bottom: 27px;
    }

    a {
      margin-top: 25px;
      margin-bottom: 5px;
      margin-left: 2px;
    }
  }

  .about__img {
    background-position: -33px 0;
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .about__container {
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 9.8%;
    padding-left: 0;
    padding-right: 3%;

    p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 22px;
    }

    a {
      margin-top: -2px;
      margin-bottom: 5px;
      margin-left: 5px;
    }
  }

  .about__img {
    min-width: 200px;
    width: 244px;
    height: 364px;
    background-image: url("../img/2005-tablet@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005-tablet@2x.png") 244px, 364px;
    }
  }

  .about__text {
    margin-top: 0.8%;
    margin-left: 1%;

    h3 {
      font-size: 32px;
      line-height: 45px;
      font-weight: 400;
      margin-bottom: 4.3%;
    }

    p {
      margin-left: 5px;
    }
  }

  .about__more {
    display: none;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .about {
    width: 100%;

    h3 {
      font-size: 28px;
      line-height: 39px;
      margin-bottom: 17px;
    }
  }

  .about__container {
    min-width: 320px;
    width: 100%;
    justify-content: center;
    padding-top: 12%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 3%;

    h3 {
      &::before {
        display: none;
      }
    }

    p {
      margin-bottom: 44px;
      font-size: 16px;
      line-height: 22px;
    }

    a {
      margin-top: -16px;
      margin-bottom: 47px;
    }
  }

  .about__more,
  .about__img {
    display: none;
  }

  .about__text {
    margin-left: 0;
  }
}
