.copyright-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
}

.copyright__text-confidential a {
  color: $white-grey-font;
}

@media (min-width: $desktop-width-min) {
  .copyright-wrap {
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
  }

  .copyright__text-rights {
    margin-right: 5%;
  }

  .copyright__text-years {
    margin-right: 9%;
  }

  .copyright__text-confidential {
    margin-right: 15%;
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .copyright__text-rights,
  .copyright__text-years {
    display: none;
  }

  .copyright-wrap {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 2%;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .copyright__text-rights,
  .copyright__text-years {
    display: none;
  }

  .copyright-wrap {
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 5%;
  }

  .copyright__text-confidential {
    margin-bottom: 5%;
  }
}
