.copyright-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
}

.copyright__text-confidential a {
  color: $white-grey-font;
}

@media (min-width: $desktop-width-min) {
  .copyright-wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 1461px;
    padding: 16px 25px;
    width: 100%;
  }

  .copyright__text-rights {
    min-width: 165px;
    margin-right: 57px;
  }

  .copyright__text-years {
    min-width: 233px;
    margin-right: 10%;
  }

  .copyright__text-confidential {
    min-width: 217px;
  }

  .copyright__text-develop {
    min-width: 192px;
    margin-left: auto;
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .copyright__text-rights,
  .copyright__text-years {
    display: none;
  }

  .copyright-wrap {
    padding-top: 2.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 2%;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .copyright__text-rights,
  .copyright__text-years {
    display: none;
  }

  .copyright-wrap {
    flex-direction: column;
    align-items: center;
    padding-top: 14%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 5%;
  }

  .copyright__text-confidential {
    margin-bottom: 8%;
  }
}
