//Mobile//

.main-nav {
  position: relative;

  display: flex;
  flex-direction: row;
}

.main-nav__toggle {
  @include button-reset;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 27px;

    width: 37px;
    height: 13px;

    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 5px;

  height: 35px;
  width: 90px;
}

.main-nav-list__item-call,
.main-nav-list__item-link-info,
.main-nav-list__item-link-call {
  display: none;
}

//Tablet//
@media (min-width: $tablet-width) {
  .main-nav__list {
    padding-top: 15px;

    height: 37px;
    width: 82px;
  }

  .main-nav__toggle {
    &::before {
      top: 18px;
      right: 37px;
    }
  }
}

//Desktop//
@media (min-width: $desktop-width) {
  .main-nav-list__item-link {
    display: flex;
    flex-direction: row;

    width: 260px;
  }

  .main-nav-list__item-link-info {
    display: block;
    margin-left: 20px;

    color: $white;
  }

  .main-nav-list__item-link-call {
    display: block;
    padding: 15px 15px;

    width: 180px;
    height: 45px;
    color: $white;
    font-family: "RobotoCondensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;

    border: 1px solid $white;
    box-sizing: border-box;
    border-radius: 5px;
  }
}
