.navigation {
  @include flex-row;
}

.navigation__contacts-list {
  @include list-reset;
  @include flex-row;
  flex-wrap: wrap;
}

.navigation-img-mail::before {
  content: "";
  width: 26px;
  height: 19px;
  margin-left: 1.2rem;
  background-image: url("../img/icon-mail.svg");
}

.navigation-img-mobile::before {
  content: "";
  width: 25px;
  height: 24px;
  margin-left: 1.2rem;
  background-image: url("../img/icon-mobile.svg");
}

.navigation__contacts-call {
  @include button-reset;
  display: block;
  width: 180px;
  height: 45px;

  @include font-nav;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 5px;
}

.navigation__contacts-list-item-link {
  @include flex-row;
  color: $white;
  margin-right: 5rem;
}

.navigation__contacts-list-item-link span {
  margin-left: 1rem;
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .navigation__contacts-call,
  .navigation__contacts-list-item-link span {
    display: none;
  }

  .navigation__contacts-list-item-link {
    margin-right: 0;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .navigation__contacts-call,
  .navigation__contacts-list-item-link span {
    display: none;
  }

  .navigation__contacts-list-item-link {
    margin-right: 0;
  }
}
