.navigation {
  @include flex-row;
}

.navigation__contacts-list {
  @include list-reset;
  @include flex-row;
}

.navigation__contacts-call,
.navigation__contacts-list-item-link span {
  display: none;
}

.navigation__contacts-list-item-link svg {
  margin-left: 1.2rem;
}

//Desktop//
@media (min-width: $desktop-width-min) {
  // only Desktop
  .navigation__contacts-call {
    @include button-reset;
    display: block;
    width: 180px;
    height: 45px;

    @include font-nav;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    border: 1px solid $white;
    box-sizing: border-box;
    border-radius: 5px;
  }
  // only Desktop
  .navigation__contacts-list-item-link {
    @include flex-row;
    color: $white;
    margin-right: 5rem;
  }

  // only Desktop
  .navigation__contacts-list-item-link span {
    display: block;
    margin-left: 1rem;
  }

  .navigation__contacts-list-item-link svg {
    margin-left: none;
  }
}

//Tablet//
@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .navigation__contacts-list-item-link svg {
    margin-left: 2rem;
  }
}
