//Mobile//

.page-header {
  min-width: 320px;

  display: flex;
  justify-content: space-between;

  padding-top: 17px;
  padding-left: 17px;
  padding-right: 5px;
}

//Tablet//
@media (min-width: $tablet-width) {
  .page-header {
    min-width: 768px;

    padding-top: 19px;
    padding-left: 25px;
    padding-right: 24px;
  }
}

//Desktop//
@media (min-width: $desktop-width) {
  .page-header {
    min-width: 1024px;

    padding-top: 34px;
  }
}
