.page-main {
  padding-top: 5%;
}

@media (min-width: $desktop-width-min) {
  .page-main {
    padding-top: 6%;
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .page-main {
    padding-top: 7%;
  }
}
