.page-footer__social-list,
.page-footer__nav-list,
.page-footer-contacts__list {
  @include list-reset;
}

.page-footer {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: $white-grey-font;
  background-color: $white-grey;
}

.page-footer-contacts__list a,
.page-footer__nav-list a {
  color: $white-grey-font;
}

.page-footer-nav h3,
.page-footer-contacts h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-blue-font;
}

.page-footer__copyright {
  border-top: 1px solid $white-grey-line;
}

.page-footer-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 13%;
  padding-top: 65px;
  padding-bottom: 40px;
}

.page-footer-links {
  width: 20%;
}

.page-footer__logo-image {
  margin-bottom: 45px;
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 115px;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: 10%;
}

.page-footer-nav {
  width: 64%;
}

.page-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 120px;

  li {
    width: 50%;
  }
}

.page-footer-contacts {
  width: 36%;
}

@media (min-width: $desktop-width-min) {
  .page-footer-btn button,
  .page-footer__text-years {
    display: none;
  }
}
