.page-footer__social-list,
.page-footer__nav-list,
.page-footer-contacts__list {
  @include list-reset;
}

//Desktop//
@media (min-width: $desktop-width-min) {
  .page-footer {
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: $white-grey-font;
    background-color: $white-grey;
  }

  .page-footer-wrap,
  .page-footer__social-list {
    @include flex;
  }

  .page-footer-wrap {
    width: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
  }

  .page-footer-links {
    margin-right: 10%;
  }

  .page-footer-nav p,
  .page-footer-contacts p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-family: "RobotoCondensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    color: $dark-blue-font;
  }

  .page-footer__nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
    width: 550px;
    font-size: 15px;

    li {
      width: 50%;
    }
  }

  .page-footer-contacts {
    margin-left: -7%;
  }

  .page-footer-contacts__list a {
    color: $white-grey-font;
  }

  .page-footer__social-list svg {
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .page-footer__copyright {
    border-top: 1px solid $white-grey-line;
  }
}
