.page-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark-blue;
  background-image: url("../img/bg-mask-desktop.png");
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .page-header {
    background-image: url("../img/bg-mask-tablet.png");
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .page-header {
    background-image: url("../img/bg-mask-mobile.png");
  }
}

