.popup--closed {
  display: none;
}

.popup--opened {
  display: block;
}

.popup {
  padding-top: 5%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  color: $white;
  background-color: $popup;
}

.popup__container {
  width: 40%;
  height: 605px;
  margin: 0 auto;
  padding: 40px;
  background-color: $blue;
  overflow: auto;
}

.popup__wrapper {
  position: relative;
}

.popup__btn-close {
  position: absolute;
  top: -20px;
  right: -15px;
  width: 17px;
  height: 17px;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -25%;
    height: 23px;
    width: 1px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      opacity: 0.8;
    }
  }
}

.popup__title {
  margin: 0;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  padding: 0;
  margin-bottom: 10px;
}

.popup__info {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin-bottom: 25px;
}

.popup-form__input-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 100%;
  margin-right: 10%;
  padding: 0;

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 18px;
    border: none;
    color: $white;
    background-color: $light-blue;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 16px;
    line-height: 22px;

    &:hover {
      opacity: 0.8;
    }

    &:active,
    &:focus {
      opacity: 0.5;
      outline: none;
    }

    &::placeholder {
      color: $white;
    }
  }

  textarea {
    width: 100%;
    padding: 15px 18px;
    border: none;
    border-radius: 0;
    color: $white;
    background-color: $light-blue;
    margin-bottom: 40px;
    resize: none;
    font-size: 16px;
    line-height: 22px;

    &:hover {
      opacity: 0.8;
    }

    &:active,
    &:focus {
      opacity: 0.5;
      outline: none;
    }

    &::placeholder {
      color: $white;
    }
  }
}

.popup-form__btn-wrap {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.popup-form__btn {
  @include button-reset;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 80px;
  font-family: $font-roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.popup-form__check-wrap {
  position: relative;
  padding-top: 5px;
  width: 100%;
}

.popup-form__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.popup-form__custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-left: 30px;
}

.popup-form__custom-checkbox + label::before {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  top: 6px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/off-checkbox.svg");
}

.popup-form__custom-checkbox:checked + label::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  top: 6px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/off-checkbox.svg");
}

.popup-form__custom-checkbox:checked + label::before {
  background-image: url("../img/on-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

//Mobile//
@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .popup__container {
    min-width: 320px;
  }
}
