//Desktop//
@media (min-width: $desktop-width-min) {
  .promo {
    display: flex;
    flex-direction: column;
    height: 764px;
    width: 100%;
    background-color: transparent;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 1910px;
      height: 100%;
      z-index: -1;
      background-image: url("../img/bg-mask-desktop@1x.png");
      background-size: cover;
      background-color: $dark-blue;
    }
  }

  .promo__wrap {
    position: relative;
    display: flex;
    min-width: 750px;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .promo__heading {
    margin: 0;
    margin-bottom: 60px;
    font-family: "RobotoCondensed", "Arial Narrow", sans-serif;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .promo__info {
    margin: 0;
    margin-bottom: 53px;
    padding-left: 96px;
    width: 777px;
    position: relative;
    font-size: 22px;
    line-height: 34px;

    &::before {
      content: "";
      position: absolute;
      width: 66px;
      height: 2px;
      background-color: $white;
      left: 0;
      top: 15px;
    }
  }

  .promo__button {
    display: inline-block;
    padding: 17px;
    height: 55px;
    width: 407px;
    vertical-align: middle;
    border-radius: 5px;
    font-family: "RobotoCondensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    color: $white;
    background-color: $blue;
  }

  .promo__button--mobile {
    display: none;
  }

  .promo__scroll {
    position: absolute;
    bottom: -30%;
    left: 5%;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    transform: rotate(-90deg);
    font-size: 14px;
    line-height: 16px;
    color: $white-grey-font;
  }

  .promo__img-wrap {
    position: absolute;

    svg {
      margin-left: 70%;
    }

    img {
      margin-top: -60%;
      margin-left: 70%;
    }
  }
}
