.promo {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: $white;
}

.promo__wrap {
  position: relative;
  display: flex;
}

.promo__heading {
  margin: 0;
  font-family: $font-roboto;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.promo__button,
.promo__button-mobile {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-family: $font-roboto;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $white;
  background-color: $blue;
}

.promo__img-wrap {
  position: absolute;
}

.promo__info {
  margin: 0;
  position: relative;
}

@media (min-width: $desktop-width-min) {
  .promo {
    height: 759px;
    padding: 0;
    min-width: 750px;
  }

  .promo__wrap {
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    max-width: 1424px;
    margin-top: 85px;
  }

  .promo__heading {
    margin-bottom: 29px;
    font-size: 80px;
    line-height: 94px;
  }

  .promo__info {
    margin-bottom: 43px;
    padding-left: 96px;
    width: 777px;
    font-size: 22px;
    line-height: 34px;

    &::before {
      content: "";
      position: absolute;
      width: 66px;
      height: 2px;
      background-color: $white;
      left: 0;
      top: 15px;
    }
  }

  .promo__button {
    padding: 17px;
    margin-left: 96px;
    height: 55px;
    width: 407px;
  }

  .promo__button-mobile {
    display: none;
  }

  .promo__scroll {
    position: absolute;
    bottom: -30px;
    left: -34px;
    transform: rotate(-90deg);
    font-size: 14px;
    line-height: 16px;
    color: $white-grey-font;
  }

  .promo__img-container {
    position: relative;
    width: 705px;
    height: 515px;
    background-image: url("../img/bg-triangles-desktop.svg");
    background-repeat: no-repeat;
    background-position: 3px -85px;

    img {
      width: 705px;
      height: 515px;
      margin-top: 55px;
    }
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .promo {
    height: 610px;
    width: 100%;
  }

  .promo__wrap {
    min-width: 686px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .promo__heading {
    margin-top: 96px;
    margin-left: 12px;
    margin-bottom: 27px;
    width: 320px;
    font-size: 60px;
    line-height: 70px;
  }

  .promo__info {
    margin-bottom: 56px;
    padding-left: 62px;
    width: 400px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 2px;
      background-color: $white;
      left: 10px;
      top: 15px;
    }
  }

  .promo__button {
    margin-left: 60px;
    padding: 17px;
    height: 55px;
    width: 384px;
  }

  .promo__button-mobile,
  .promo__scroll {
    display: none;
  }

  .promo__img-container {
    position: absolute;
    top: -50px;
    left: 293px;
    width: 770px;
    height: 539px;
    background-image: url("../img/bg-triangles-tablet.svg");
    background-repeat: no-repeat;

    img {
      width: 465px;
      height: 340px;
      margin-top: 89px;
      margin-left: 210px;
    }
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .promo {
    height: 590px;
  }

  .promo__button,
  .promo__scroll {
    display: none;
  }

  .promo__wrap {
    min-width: 294px;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .promo__img-container {
    position: absolute;
    top: -22px;
    left: 150px;
    width: 675px;
    height: 495px;
    background-image: url("../img/bg-triangles-mobile.svg");
    background-repeat: no-repeat;

    img {
      width: 296px;
      height: 220px;
      margin-top: 70px;
      margin-left: -130px;
    }
  }

  .promo__heading {
    position: relative;
    margin-top: 207px;
    margin-bottom: 29px;
    font-size: 40px;
    line-height: 47px;
    z-index: 2;
  }

  .promo__info {
    position: relative;
    margin-bottom: 38px;
    padding-left: 48px;
    min-width: 274px;
    font-size: 16px;
    line-height: 25px;

    &::after {
      content: "";
      position: absolute;
      width: 33px;
      height: 2px;
      background-color: $white;
      left: 0;
      top: 15px;
    }
  }

  .promo__button-mobile {
    padding: 17px;
    margin-bottom: 70px;
    height: 55px;
    min-width: 250px;
    width: 287px;
  }
}
