.questionary {
  position: relative;
  color: $white;
  background-color: $blue;
  padding-top: 95px;
  padding-bottom: 115px;
}

.questionary__img-wrap {
  position: absolute;
  top: -80px;
  left: -70px;
  width: 671px;
  height: 641px;
  background-repeat: no-repeat;
  background-image: url("../img/bg-triangles-desktop.svg");

  img {
    position: relative;
    top: 260px;
    left: 210px;
  }
}

.questionary__wrapper {
  width: 45%;
  margin-left: auto;
  margin-right: 5%;
}

.questionary__title {
  margin: 0;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  padding: 0;
  margin-bottom: 30px;
}

.questionary__info {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin-bottom: 55px;
}

.questionary-form__input-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  width: 40%;
  margin-left: auto;
  margin-right: 10%;
  padding: 0;

  input {
    box-sizing: border-box;
    width: 47%;
    padding: 15px 18px;
    border: none;
    color: $white;
    background-color: $light-blue;
    margin: 0;
    margin-bottom: 40px;
    border-radius: 0;
    font-size: 16px;
    line-height: 22px;

    &:hover {
      opacity: 0.8;
    }

    &:active,
    &:focus {
      opacity: 0.5;
      outline: none;
    }

    &::placeholder {
      color: $white;
    }
  }

  textarea {
    width: 100%;
    padding: 15px 18px;
    border: none;
    border-radius: 0;
    color: $white;
    background-color: $light-blue;
    font-family: $font-mono;
    margin-bottom: 40px;
    resize: none;
    font-size: 16px;
    line-height: 22px;

    &:hover {
      opacity: 0.8;
    }

    &:active,
    &:focus {
      opacity: 0.5;
      outline: none;
    }

    &::placeholder {
      color: $white;
    }
  }
}

.questionary-form__btn-wrap {
  display: flex;
  flex-direction: row;
  border: none;
  width: 40%;
  margin-left: auto;
  margin-right: 10%;
  padding: 0;
}

.questionary-form__btn {
  @include button-reset;
  display: inline-block;
  vertical-align: center;
  padding: 15px 70px;
  font-family: $font-roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
}

.questionary-form__check-wrap {
  position: relative;
  padding-top: 5px;
  margin-left: 60px;
}

.questionary-form__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.questionary-form__custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-left: 5px;
}

.questionary-form__custom-checkbox + label::before {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: center;
  top: 8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-image: url("../img/off-checkbox.svg");
}

.questionary-form__custom-checkbox:checked + label::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: center;
  top: 8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-image: url("../img/off-checkbox.svg");
}

.questionary-form__custom-checkbox:checked + label::before {
  background-image: url("../img/on-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .questionary {
    padding: 10% 12%;
  }

  .questionary__title {
    margin-bottom: 16px;
  }

  .questionary-form__input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    width: 40%;
    margin-left: auto;
    margin-right: 10%;
    padding: 0;

    input {
      box-sizing: border-box;
      width: 47%;
      padding: 15px 18px;
      border: none;
      color: $white;
      background-color: $light-blue;
      margin: 0;
      margin-bottom: 40px;
      border-radius: 0;
      font-size: 16px;
      line-height: 22px;

      &:hover {
        opacity: 0.8;
      }

      &:active,
      &:focus {
        opacity: 0.5;
        outline: none;
      }

      &::placeholder {
        color: $white;
      }
    }

    textarea {
      height: 150px;
      margin-bottom: 50px;
    }
  }

  .questionary__img-wrap {
    display: none;
  }

  .questionary__wrapper,
  .questionary-form__input-wrap,
  .questionary-form__btn-wrap {
    margin: 0 auto;
    width: 100%;
  }

  .questionary-form__btn {
    width: 48%;
    padding: 13px 40px;
    margin-bottom: 30px;
  }

  .questionary-form__check-wrap {
    margin-left: 39px;
  }

  .questionary-form__custom-checkbox + label {
    margin-left: 30px;
    font-size: 14px;
    line-height: 16px;
  }

  .questionary-form__custom-checkbox + label::before {
    top: 8px;
    left: 0;
  }

  .questionary-form__custom-checkbox:checked + label::after {
    top: 8px;
    left: 0;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .questionary {
    padding: 9% 4%;
  }

  .questionary__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 7px;
  }

  .questionary__info {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .questionary-form__input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    width: 40%;
    margin-left: auto;
    margin-right: 10%;
    padding: 0;

    input {
      width: 100%;
      margin-bottom: 30px;
    }

    textarea {
      height: 98px;
    }
  }

  .questionary__img-wrap {
    display: none;
  }

  .questionary__wrapper,
  .questionary-form__input-wrap,
  .questionary-form__btn-wrap {
    margin: 0 auto;
    width: 100%;
  }

  .questionary-form__btn-wrap {
    display: flex;
    flex-direction: column;
  }

  .questionary-form__btn {
    width: 100%;
    padding: 13px 40px;
    margin-bottom: 30px;
  }

  .questionary-form__check-wrap {
    margin-top: 0;
    margin-left: 3px;
    margin-bottom: 10px;
  }

  .questionary-form__custom-checkbox + label {
    margin-left: 30px;
    font-size: 14px;
    line-height: 16px;
  }

  .questionary-form__custom-checkbox + label::before {
    top: 5px;
    left: 0;
  }

  .questionary-form__custom-checkbox:checked + label::after {
    top: 5px;
    left: 0;
  }
}
