@mixin button-reset {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

@mixin flex-row {
  @include flex;
  align-items: center;
}

@mixin flex {
  display: flex;
  flex-direction: row;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin font-nav {
  font-family: "RobotoCondensed", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

@mixin indent {
  margin: 0;
  padding: 0;
}
