html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-mono;
  font-size: 16px;
  line-height: 18px;
  color: $dark-blue-font;
  background-color: $white;
  counter-reset: section;
  min-width: 320px 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
button:hover,
button:focus {
  opacity: 0.8;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  background-size: 100%;
  overflow-x: hidden;
}

.wrap-header {
  @include flex-row;
}

@media (min-width: $desktop-width-min) {
  .wrap-header {
    justify-content: space-between;
    align-items: center;
    height: 119px;
    margin: auto;
    max-width: 1461px;
    width: 100%;
    padding: 12px 25px 5px;
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .wrap-header {
    width: 100%;
    justify-content: space-between;
    padding-top: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .wrap-header {
    width: 100%;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
