$white: #ffffff;
$black: #111111;
$blue: #00b2ff;
$dark-blue: #1a2931;
$font: "PTMono", "Arial Narrow", sans-serif;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
