$white: #ffffff;
$black: #111111;
$blue: #00b2ff;
$dark-blue: #1a2931;
$dark-blue-font: #1b2d37;
$white-grey-font: #8b9399;
$white-grey: #fafafa;
$white-grey-line: #cdcdcd;
$grey: #353735;
$font-mono: "PTMono", "Arial Narrow", sans-serif;
$font-roboto: "RobotoCondensed", "Arial Narrow", sans-serif;
$mobile-width-min: 320px;
$mobile-width-max: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1023px;
$desktop-width-min: 1024px;
