$white: #ffffff;
$black: #111111;
$blue: #00b2ff;
$dark-blue: #1a2931;
$white-grey: #cdcdcd;
$grey: #353735;
$font: "PTMono", "Arial Narrow", sans-serif;
$mobile-width-min: 320px;
$mobile-width-max: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1023px;
$desktop-width-min: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
